doctype html
head
  title Menu Categoria
  meta(charset='UTF-8')
body
  a(href='/producto') Productos
  a(href='/categoria') Categorias
  br
  form(action='/categoria/editar' method='post')
    table(style='width:60%')
      tr
        th Id
        th Nombre
        th Descripcion
      each categoria in objResult
        tr
          th
            input(type='radio' name='idCategoria' value=categoria.id)
            | #{categoria.id}
          th
            a(href='/producto?idCategoria='+categoria.id) #{categoria.nombre}
          th #{categoria.descripcion}
    br
    input(type='submit' value='Editar')
  a.btn-crear(href='/categoria/crear')
    button.btn-crear(type='button') Crear
  br
