doctype html
head
  title Eliminar Categoria
  meta(charset='UTF-8')
a(href='/producto') Productos
a(href='/categoria') Categorias
br
table
  tr
    th Id
    th Nombre
    th Descripcion
  tr
    th
      input(type='checkbox')
      | Id
    th Nombre
    th Descripcion
a.btn-cancelar(href='/categoria')
  button.btn-cancelar(style='button') Cancelar
