doctype html
head
  title Eliminar Categoria
  meta(charset='UTF-8')
body
  a(href='/producto') Productos
  a(href='/categoria') Categorias
  br
  form
    table(style='width:60%')
      tr
        th Id
        th Nombre
        th Descripcion
      each categoria in objResult_categoria
        tr  
          th
            input(type='checkbox')
            | #{categoria.id}
          th #{categoria.nombre}
          th #{categoria.descripcion}

  a.btn-cancelar(href='/categoria')
    button.btn-cancelar(style='button') Cancelar
